* {
  margin: 0px;
  padding: 0px;
}

/* main_continer_section */

.main_continer {
  width: 1000px;
  margin: 0px auto;
  /* border: 1px solid black; */
}
/* .main_continer2{
  width: 100%;
  background-color: #F5F7FA;
} */

/* inter_font */

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* --------------header-section------------- */

.header_part {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.topbar_section {
  width: 25%;

}

.menu_section {
  width: 60%;

}

.menu_section ul {
  list-style: none;
  display: flex;
  justify-content: right;

}

.menu_section ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: grey;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 11.97;

}

.menu_button {
  width: 15%;
  display: flex;
  justify-content: right;
}

.menu_button button {
  width: 100%;
  padding: 13px 22.27px;
  background-color: #4CAF4E;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 11.97;
  border: none;
}

.menu_button button i {
  margin-left: 8PX;
}

/* ---------banner-section--------- */

.banner_section {
  width: 100%;
  padding: 100px 0px;
  /* display: flex;
  align-items: center;
  justify-content:space-between; */
  background-color: #F5F7FA;
}

.banner_article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content_area {
  width: 55%;
  /* padding-right:200px; */
}

.banner_content_area h1 {
  font-size: 44.5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3PX;

}

.banner_content_area span {
  color: #4CAF4E;

}

.banner_content_area p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin-top: 15px;

}

.banner_content_area button {
  padding: 15px 30px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #4CAF4E;
  color: white;
  border: none;

}

.banner_image_area {
  width: 45%;
}

.banner_image_area img {
  width: 100%;

}

/* ---------clients-contents------------ */
.clients_section {
  padding: 30px 0;
}

.client_contents h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 27px;
}

.client_contents p {
  margin-top: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}


.brand_logo {
  padding: 30px 0 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------mannage_section--------- */
.mannage_section {
  margin-top: 30px;
}

.mannage_contents h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 27px;


}

.mannage_contents p {

  margin-top: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.member_cards {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.fast_member {
  padding: 20px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.fast_member h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}.fast_member p {
 margin-top: 10px;
}

/* ---------------article_section--------- */

.article_section{
  display: flex;
  align-items: center;
}
.article_section .article_one{
  width:20%;

}

.article_section .article_two{
  width: 60%;
  padding-right:150px;
  
}
.article_section .article_two h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 27px;

}
.article_section .article_two p{
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-size:12px;
}
.article_section .article_two button{
  padding: 15px 30px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #4CAF4E;
  color: white;
  border: none;

}
.article_section .article_three{
  width: 20%;
}


